
<<<<<<< HEAD

.FieldList {
    display:flex;
    flex-direction: column;
}

=======
>>>>>>> 3514149a93d2f856996beb473dd1e466e1d8b3f2
ul.list{
    list-style-type: none;
    text-align: center;
}

ul.list li input{
    width: 250px;
    text-align: center;
    padding: 8px 0px;
    border: none;
    background-color: #d3d3d3;
    border-radius: 5px;
}
/*
.FieldList {
    display:flex;
    flex-direction: column;
}
*/
<<<<<<< HEAD
=======

>>>>>>> 3514149a93d2f856996beb473dd1e466e1d8b3f2
